<h1>All projects</h1>
  <%=form_tag("/projects", method: 'get') do %>
  <%= select_tag(:filter, options_for_select([["See all"],["To do", "todo"], ["Doing","doing"], ["Done", "done"]],@filter)) %>
  <%= submit_tag("Filter") %>
  <% end %>

<ul>
  <% @projects.each do |project| %>
  <li class="project_name">
        <%= project.name %>
        <span class="status <%= project.status %>"><%= project.status %></span>
    <ul>
      <% project.tasks.each do |task| %>
      <li><%= task.name %> <span class=" status <%= task.status %>"><%= link_to(task.status, edit_project_task_path(project.id, task.id)) %></span></li>
      <% end %>
    </ul></li>
  <% end %>
</ul>

<button id="create"><%= link_to("Create a new project", new_project_path) %></button>