<!DOCTYPE html>
<html>
  <head>
    <title>Projects And Tasks App</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
	  <div>
	  	<h1><%= yield(:title) || "Default title" %></h1>
	  	<% user_session(current_user).each do |session| %>
		  	<%= session %>
	  	<% end %>
  	</div>
    <%= yield %>
  </body>
</html>