<!DOCTYPE html>
<html>
  <head>
    <title>Projects And Tasks App</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  	<h1><%= yield(:title) %></h1>
    <% print_menu.each do |menu_item| %>
      <%= menu_item %>
    <% end %>
    <%= yield %>
  </body>
</html>